<!DOCTYPE html>
<html ng-app="custom-tri-state-checkbox">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/custom-tri-state-checkbox.css"/>
</head>
<body ng-controller="demoCtrl as vm">

<input ng-model="vm.parentCheckboxSelected" type="checkbox" id="tri" custom-checkbox custom-tri-state-checkbox label="Parent" />
<hr/>

<custom-tri-state-group-checkbox style="display: table" child-checkboxes="vm.childCheckboxes">
    <div ng-repeat="cb in vm.childCheckboxes track by cb.id" style="display: table">
        <input
            type="checkbox"
            custom-checkbox
            id="{{::cb.id}}"
            label="{{::cb.name}}"
            ng-model="cb.selected"
            ng-checked="vm.parentCheckboxSelected"/>
    </div>
</custom-tri-state-group-checkbox>



<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/custom-checkbox/dist/scripts/main.js"></script>
<script src="app.js"></script>
<script src="scripts/directives/customTriStateCheckbox.js"></script>
<script src="scripts/directives/customTriStateGroupCheckbox.js"></script>
<script src="scripts/controlers/controller.js"></script>
</body>
</html>